@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

@*<h3>@ViewData["Title"]</h3>*@
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="sobre-nos-title">
        <h2 class="mb-3 fw-bold">Alterar configurações da conta</h2>
        <h4 class="perfil-text mb-3 fw-bold">Senha</h4>
    </div>
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="input-group">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    
                </div>
            }
            else
            {
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email atual</label>
                    <input asp-for="Email" class="form-control" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="verificar-email btn btn-link">Enviar verificação para email</button>
                </div>
            }
            <div class="mb-3">
                <label asp-for="Input.NewEmail" class="form-label">Novo email</label>
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn-salvar btn fw-bold">Alterar email</button>
            
        </form>
    </div>
</div>



<style>
    .nav-link {
        color: #F20201 !important;
        font-weight: 700;
    }

    #profile {
        background-color: transparent !important;
        color: #F20201 !important;
    }

    #change-password {
        background-color: transparent !important;
        color: #F20201 !important;
    }

    .email-bg {
        background-color: #F20201 !important;
        color: white !important;
    }

    .btn-salvar:hover {
        background-color: #6A45A5;
        color: white;
        text-decoration: none;
    }



    .sobre-nos-title {
        color: #6A45A5;
    }

    .container-config {
        margin-top: 50px;
        margin-bottom: 80px;
    }

    .form-control {
        border: 1px solid #F20201 !important;
        border-radius: 10px;
    }

    .btn-salvar {
        background-color: #F20201;
        color: white;
        border-radius: 10px;
    }

    .perfil-text {
        color: #F20201;
    }

    .verificar-email{
        color: #F20201;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
