@page
@model RegisterModel
@{
}
<h1>@ViewData["Title"]</h1>
<html>
<body>
    <link href="~/css/testes.css rel="stylesheet" />
    @*<style>
    body{
    padding: 25px;
    background-color: white;
    color: black;
border-colort-size: 25px;
    }
    .dark-mode {
    background-color: black;
    color: white;
    }
    .light-mode {
    background-color: white;
    color: black;
    }
    </style>


    <h3 id="DarkModetext">Dark Mode is OFF</h3>
    <button onclick="darkMode()">Darkmode</button>
    <button onclick="lightMode()">LightMode</button>
    <script>
    function darkMode() {
    var element = document.body;
    var content = document.getElementById("DarkModetext");
    element.className = "dark-mode";
    content.innerText = "Dark Mode is ON";
    }
    function lightMode() {
    var element = document.body;
    var content = document.getElementById("DarkModetext");
    element.className = "light-mode";
    content.innerText = "Dark Mode is OFF";
    }
    </script>*@
    <section>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="vh-100 d-flex justify-content-center align-items-center" id="forms">
                <div class="col-md-4 p-5 shadow-sm border border rounded-3">
                    <h2 class="text-center mb-4" style="color: #F20201;">Criar Conta</h2>


                    <div class="form">
                        <div class="group" style="width: 40%;">
                            <select asp-for="Input.Tipo" class="form-label" id="opcao">
                                <option value="Empresa">Empresa</option>
                                <option value="Aluno">Aluno</option>
                            </select>


                        </div>
                    </div>

                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row ">
                            <div class="col-sm-6">








                                <input asp-for="Input.FirstName" type="text" class="form-control" style="border:1px solid #F20201;" autocomplete="firstname" aria-required="true" />
                                <label asp-for="Input.FirstName" class="form-label">Nome</label>
                                <span asp-validation-for="Input.FirstName" class=" fw-bold"></span>




                                <input asp-for="Input.Email" class="form-control" style="border:1px solid #F20201;" autocomplete="username" aria-required="true" />
                                <label asp-for="Input.Email" class="form-label">E-Mail</label>
                                <span asp-validation-for="Input.Email" class="  "></span>



                            </div>
                            <div class="col-sm-6">
                                <input asp-for="Input.LastName" class="form-control" style="border:1px solid #F20201;" autocomplete="lastname" aria-required="true" />
                                <label asp-for="Input.LastName" class="form-label">Sobrenome</label>
                                <span asp-validation-for="Input.LastName" class="  "></span>







                                <div class="form-label" id="form-empresa">
                                    <input class="form-control" style="border:1px solid #F20201;" autocomplete="email" />
                                    <label>CNPJ</label>
                                </div>
                                <div class="form-label" id="form-aluno">
                                    <input class="form-control" style="border:1px solid #F20201;" autocomplete="email" />
                                    <label>RA</label>
                                </div>




                            </div>
                        </div>

                        <div class="md-12">
                            <input asp-for="Input.Password" class="form-control" style="border:1px solid #F20201;" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.Password" class="form-label">Senha</label>
                            <span asp-validation-for="Input.Password" class="  "></span>
                        </div>



                        <div class="mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" style="border:1px solid #F20201;" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.ConfirmPassword" class="form-label">Confirmar Senha</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="  "></span>
                        </div>
                        <div class="form-check text-center">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label fw-bold" for="exampleCheck1">Eu conconcordo com os <a href="../Account/Termos" style="color: #6A45A5;">termos de uso</a> do EmpregaSENAI.</label>
                        </div>                        

                        <div class="d-grid">
                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg" style="background-color: #F20201;color:white;">Cadastrar</button>
                        </div>
                    </form>
                    <div class="mt-3">
                        <p class="mb-0  text-center text-bg-danger">
                            Ja tem uma conta? <a href="../Account/Login" class="fw-bold" style="color: #F20201;">
                                Faça login
                            </a>
                        </p>
                    </div>
                </div>
            </div>




        </form>

</section>
</body>
</html>

<script>
    const condicionalEmpresa = document.getElementById("form-empresa"), condicionalAluno = document.getElementById("form-aluno");
    const selectOptions = document.getElementById("opcao");
    condicionalEmpresa.style.display = "none";
    condicionalAluno.style.display = "none";
    selectOptions.addEventListener("change", () => {
        if (selectOptions.value === "Empresa") {
            condicionalEmpresa.style.display = "block";
            condicionalAluno.style.display = "none";
        } else if (selectOptions.value === "Aluno") {
            condicionalAluno.style.display = "block";
            condicionalEmpresa.style.display = "none";
        }
    });
</script>

<script src="js/bootstrap.bundle.min.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
