<link rel="stylesheet" href="css/termos.css">

<!--nav-->
    <div class="header container border-5 border-bottom">
        <div class="senai-logo text-center">
            <img class="senai-img" src="img/logo-senai.png" alt="SENAI">
        </div>
        <div class="emprega-senai fst-italic text-center">
            <h4> EmpregaSENAI </h4>
        </div>
    </div>


<!--conteudpo-->
    <div class="conteudo container">
        <p>A LGPD no EmpregaSENAI</p>
        <p class="texto">A preocupação com a privacidade do indivíduo não é algo exatamente novo, 
            mas vem ganhando repercussão com a aceleração das interações virtuais na 
            chamada era da informação. A internet e o uso cada vez maiores de dispositivos 
            móveis aceleraram as discussões globais sobre os limites no tratamento dos dados 
            pessoais e os efeitos para a privacidade da pessoa.
        </p>

        <p class="texto">Surgiram, então, diversas leis e orientações ao redor do mundo, com a preocupação 
            de disciplinar o tratamento dos dados pessoais, por parte das empresas. No Brasil, 
            a <a href="http://http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm"> Lei 13.709/2018</a> 
            (Lei Geral de Proteção de Dados), conhecida como <strong>LGPD</strong>, estabelece 
            pontos importantes que todos nós precisamos conhecer. O principal objetivo da lei é 
            proteger os direitos de liberdade e privacidade dos titulares de dados pessoais, trazendo 
            maior transparência e controle sobre a utilização de seus dados.
        </p>

        <p class="texto">O EmpregaSENAI, preocupado em preservar a privacidade dos dados pessoais utilizados nos seus 
            serviços, bem como garantir todos os direitos e garantias legais dos titulares dos dados, 
            adota políticas internas e cumpre todas as legislações inerentes ao uso correto dos dados 
            pessoais, em especial a LGPD, estabelecendo procedimentos e implementando controles de segurança 
            para proteção dos dados pessoais dos titulares enquanto estes estiverem sobre os seus cuidados.
        </p> <br> <br>

        <p>Coleta de dados</p>
        <p class="texto">Pela definição da LGPD, <strong>dado pessoal</strong> é a informação relacionada a pessoa natural 
            identificada ou identificável. A pessoa natural a quem se referem os dados pessoais que são objeto de 
            tratamento é definida pela lei como sendo o <strong>titular dos dados.</strong>
        </p>
        
        <p class="texto">Conforme o serviço de interesse do titular, podem ser coletados parte ou todos os tipos de dados 
            pessoais listados abaixo.
        </p>
        <ul class="texto">
            <li>Informações de identificação pessoal (nome, telefone, celular, endereço, e-mail, RA)</li>
            <li>Informações de identificação atribuídas por instituições governamentais (RG, CPF, CNPJ, nome fantasia)</li>
            <li>Características pessoais (sexo, data de nascimento, nacionalidade, estado de nascimento e cidade de nascimento)</li>
            <li>Familiares ou membros da família (nome do pai e nome da mãe)</li>
            <li>Dados acadêmicos/escolares (escolaridade, escola e modalidade de ensino cursada)</li>
            <li>Profissão e emprego (situação ocupacional, empregador, endereço da empresa, função ocupada)</li>
            <li>Vídeo e imagem (foto)</li>
            <li>Dados referentes à saúde (se portador de deficiência e necessidades educacionais especiais, ASO, no caso de aluno aprendiz)</li>
            <li>Dados que revelam origem racial ou ética (etnia, cor)</li>
        </ul>

        <p class="texto">Os dados pessoais dos titulares são tratados pelo EmpregaSENAI com as seguintes finalidades: </p>
            <ol class="texto">
                <li>Geração de currículos para alunos e ex-alunos da instituição SENAI – Ribeirão Preto</li>
                <li>Permitir que o EmpregaSENAI e Empresas Parceira identifique e entre em contato com o titular</li>
                <li>Geração de Banners com vagas para divulçação dentro de nosso site</li>
            </ol> <br> <br>

        <p>Solicitações LGPD</p>
        <p class="texto">O EmpregaSENAI mantém os dados pessoais em sua base no decorrer da relação contratual e, se necessário, 
            pelo prazo estipulado para cumprimento de obrigação legal ou impostas por órgãos de fiscalização, 
            nos termos dos artigos 7º e 16 da Lei n° 13.709/2018 (LGPD), em especial às ligadas a Educação e 
            órgãos correlatos e regulatórias em que o SENAI-SP está inserido (MEC/Secretarias de Educação /TCU/CGU).
        </p>

        <p class="texto">Para acessar suas informações e solicitar o ajuste ou a retirada de algum dado pessoal junto ao 
            EmpregaSENAI ou sua inativação, basta que o titular envie um e-mail para <span class="email">suporteEmpregaSENAI@gmail.com</span>
            com a solicitação e que em ASSUNTOS no e-mail conste "ajuste ou retirada de dados do site" para 
            realizar sua requisição. Seus dados pessoais podem ser excluídos se esse for o seu desejo, exceto se 
            houver qualquer hipótese legal que justifique o armazenamento dos dados. Nesse caso, o titular será 
            informado sobre o motivo do impedimento da eliminação.
        </p><br> <br>

        <p>Encarregado de Proteção de Dados Pessoais</p>
        <p class="texto">O encarregado de dados do EmpregaSENAI é a pessoa responsável por assegurar o cumprimento da Lei Geral 
            de Proteção <br> de Dados na nossa instituição.
        </p>

        <p class="texto">Se você entender que seus dados não estão sendo tratados de acordo com a lei ou tiver alguma 
            dúvida sobre como seus dados estão sendo tratados, mande um e-mail para o Encarregado de Proteção 
            de Dados Pessoais: <span class="email">encarregado@empregasenai.org.br</span>
        </p>

        <span class="perguntas strong">Consulte também as Perguntas Frequentes sobre a LGPD.</span> <br/> <br/> <br/> <br/>

        <p>TERMOS DE USO E POLÍTICA DE PRIVACIDADE</p> <br>
        <h3> 1. Informações gerais</h3><br>
        <p class="texto">O Serviço Nacional de Aprendizagem Industrial (SENAI-SP) é uma entidade de direito privado, 
            nos termos da lei civil, estruturada em base federativa, com foco na educação profissional.
        </p>
        <p class="texto">Seus cursos formam profissionais para 28 áreas da indústria brasileira, desde a iniciação profissional 
            até a graduação e pós-graduação tecnológica.
        </p>
        <p class="texto">Dentre outras atividades, o SENAI-SP ministra a aprendizagem industrial ao trabalhador; assiste 
            aos empregadores em programas de treinamento; ministra cursos de curta duração; concede bolsas 
            de estudo e de aperfeiçoamento; coopera no desenvolvimento de pesquisas tecnológicas; dá consultoria 
            em formação profissional e complementa a aprendizagem ministrada no emprego. 
        </p>
        <p class="texto">O  presente termo se presta para uso dos serviços fornecidos pela instituição, com o objetivo de 
            resguardar a segurança e a privacidade das informações cadastradas pelos usuários que acessam o portal 
            <a class="site" href="index.html">www.EmpregaSENAI.br</a> e suas aplicações, para esclarecer como essas informações são coletadas e tratadas 
            durante a navegação. 
        </p>
        <p class="texto">
            O SENAI-SP preza pela segurança das informações dos usuários cadastrados e dos visitantes de seu portal.
        </p>
        <p class="texto">O acesso aos conteúdos e serviços é livre, gratuitos e alguns casos, são pagos, e o 
            cadastramento prévio é exigido para alguns conteúdos e serviços de acesso personalizado.
        </p>
        <p class="texto">O SENAI-SP está em consonância com os princípios, garantias, direitos e deveres para o uso da 
            Internet no Brasil, bem como com os relativos aos Dados Pessoais, conforme Lei nº 12.965, de 23 
            abril de 2014 (Marco Civil da Internet) e Lei Geral de Proteção de Dados Pessoais (LGPD), 
            Lei nº 13.709, de 14 de agosto de 2018.
        </p> <br>

        <h3> 2. A quem esta declaração se destina?</h3><br>
        <p class="texto">Esta Declaração de Privacidade se aplica às pessoas que acessarem, cadastrarem-se 
            ou visitarem o site, aplicativos e demais websites do SENAI-SP.
        </p>
        <p class="texto">É importante alertar que esta Declaração de Privacidade é específica para o uso deste 
            site e dos demais websites e aplicativos do SENAI-SP. Portanto, não se aplica aos websites de 
            terceiros, redes sociais e/ou outros provedores, que você possa acessar ou ser redirecionado a 
            partir de links em nosso site.
        </p>
        <p class="texto">Para garantir sua segurança, recomendamos que verifique os regulamentos e diretrizes de 
            proteção de dados dos respectivos provedores e sites acessados.
        </p>
        <p class="texto">O SENAI-SP não pode responder por dados fornecidos por você aos websites de terceiros, 
            redes sociais e/ou outros provedores.
        </p> <br>

        <h3>3. O que é tratamento de dados e quais são os principais conceitos que você precisa entender 
            para ler esta política?
        </h3><br>
        <ol class="texto">
            <li><strong>Tratamento de Dados Pessoais:</strong> significa qualquer operação, como a coleta, produção, recepção, 
                classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, 
                arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, 
                comunicação, transferência, difusão ou extração, realizada com dados pessoais.</li>

            <li><strong>Dados Pessoais:</strong> são todas as informações que permitem a sua identificação. 
                Como por exemplo, seu nome, CPF, endereço, e-mail, telefone, entre outros.</li>

            <li><strong>Dados Pessoais Sensíveis:</strong> são dados pessoais relacionados à origem racial ou 
                étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter 
                religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou 
                biométrico, quando vinculados a você.</li>
            
            <li><strong>Titular:</strong> é a pessoa natural a que se referem os dados pessoais que são objeto de 
                tratamento.</li>

            <li><strong>Controlador:</strong> é a pessoa natural ou jurídica, de direito público ou privado, a 
                quem competem as decisões referentes ao tratamento de dados pessoais.</li>
            
            <li><strong>Encarregado:</strong> é a pessoa responsável pela comunicação entre o controlador, 
                os titulares dos dados e a Autoridade Nacional de Proteção de Dados (ANPD).</li>

            <li><strong>Finalidade:</strong> é a razão ou motivação para que seja realizado o tratamento de dados pessoais.</li>
        </ol> <br>

        <h3>4. Qual o papel do SENAI no tratamento dos dados pessoais coletados no portal?</h3> <br>
        <p class="texto">Se você se cadastrar ou interagir no site, aplicativos e demais websites da SENAI-SP, 
            teremos a função de decidir as ações, relacionadas às suas informações, atuando como Controlador 
            dos seus dados pessoais.
        </p>
        <p class="texto">Nossa conduta segue as previsões da LGPD e respeita as finalidades que informarmos 
            nesta Declaração, sempre de forma transparente.
        </p> <br>

        <h3>5. Os dados pessoais serão coletados nas seguintes situações:</h3> <br>
        <p class="texto">No site, aplicativos e demais websites do SENAI-SP, caso você se interesse por 
            alguma informação ou serviço oferecido, dependendo da situação, será necessário que você tenha 
            um cadastro para ser identificado a partir de um login e senha.
        </p>
        <p class="texto">Caso você ainda não esteja cadastrado, solicitaremos alguns de seus dados pessoais para 
            identificação.
        </p>
        <p class="texto">Quando submetidos por você no momento do seu cadastro, navegação, interação, aquisição 
            e utilização do site, aplicativos e demais websites do SENAI-SP.
        </p>
        <p class="texto">De forma automática por meio de cookies e/ou tecnologias similares.</p>
        <p class="texto">A partir de informações de autenticação através de uma conta de parceiros 
            como Facebook ou Google, mediante autorização prévia.
        </p>
        <p class="texto">Os dados coletados no site, aplicativos e demais websites do SENAI-SP podem incluir, 
            mas não se limitam a:
        </p>
        <ul class="texto">
            <li>Dados cadastrais</li>
            <li>Dados profissionais</li>
            <li>Registros eletrônicos (IP e logs)</li>
            <li>Outros dados - Outras informações poderão ser solicitadas, em nossos formulários de cadastro 
                ou inscrição em eventos, para segmentar seus interesses e direcionar comunicações.</li>
        </ul>
        <p class="texto"> Alguns dados que podem ser solicitados ao Titular para os produtos do SENAI-SP:</p>
        <ol class="texto">
            <li>Nome completo;</li>
            <li>Nome social;</li>
            <li>Data de nascimento;</li>
            <li>Número da Carteira de Identidade (RG);</li>
            <li>Número de Cadastro de Pessoas Físicas (CPF);</li>
            <li>Sexo;</li>
            <li>Nacionalidade;</li>
            <li>Naturalidade;</li>
            <li>Estado Civil;</li>
            <li>CTPS física e/ou digital</li>
            <li>Fotografia 3×4 e/ou imagem;</li>
            <li>Endereço completo;</li>
            <li>Endereço completo;</li>
            <li>WhatsApp e endereços de e-mail;</li>
            <li>Comunicação, verbal e escrita, mantida entre o Titular e o Controlador;</li>
            <li>Nível de Escolaridade;</li>
            <li>Deficiências e necessidades especiais;</li>
            <li>Questionário sobre a saúde, questões socioeconômicas, sobre a qualidade de vida e sobre a sua satisfação com o curso;</li>
            <li>Rendimento e aproveitamento no(s) curso(s) realizado(s);</li>
            <li>Dados bancários;</li>
            <li>Avaliação de Relações e Interações Interpessoais;</li>
        </ol> <br>

        <h3>6. Ao se cadastrar, os seus dados pessoais serão utilizados para as finalidades descritas abaixo:</h3> <br>
        <p class="texto">Os dados coletados são utilizados para a prestação dos diversos serviços que 
            disponibilizamos a você e, principalmente, para as seguintes <strong>finalidades:</strong>
        </p>
        <ul class="texto">
            <li>Identificação e autenticação de acesso e uso da aplicação e seus serviços disponíveis, bem como 
                aos cursos EaD, e matrículas em cursos e serviços de educação do SENAI-SP;</li>
            <li>Reserva e cancelamento de ingressos para eventos, inscrições e pagamentos de serviços;</li>
            <li>Envio de notícias gerais e informações relevantes relacionadas ao setor, à novos produtos e serviços;</li>
            <li>Envio de convite e inscrição de eventos, cursos, workshops, seminários, premiações e acesso ao nosso podcast;</li>
            <li>Envio de cartilhas e e-books;</li>
            <li>Envio de críticas, sugestões ou dúvidas através de formulários do site do tipo “Fale Conosco”;</li>
            <li>Personalização e melhoria da sua experiência como, por exemplo, envio de conteúdos personalizados e alinhados aos seus interesses;</li>
            <li>Disponibilização do seu acesso aos serviços de parceiros e programas de benefícios;</li>
            <li>Participação em pesquisas de satisfação ou de mercado;</li>
            <li>Participação em pesquisas de satisfação ou de mercado;</li>
            <li>Atualização de dados cadastrais, para fins de contato telefônico ou via SMS, aplicativo de mensagens ou mala direta;</li>
            <li>Elaboração de relatórios e estatísticas, sem que haja identificação dos usuários;</li>
            <li>Prevenção a fraudes;</li>
            <li>Resposta às solicitações feitas por usuários;</li>
            <li>Resposta às solicitações feitas por usuários;</li>
            <li>Permitir que a Controladora identifique e entre em contato com o titular;</li>
        </ul>
        <p class="texto">Os dados informados ao SENAI-SP serão utilizados para viabilizar serviços, aplicações e 
            atividades, de que tratam o presente Termo. As exceções ocorrerão apenas com a permissão do usuário, 
            ou por força da lei, por ordem de autoridade competente, ou judicialmente.
        </p> <br>

        <h3>7. Com quem o SENAI-SP compartilha minhas informações?</h3> <br>
        <p class="texto">Apenas as entidades FIESP/CIESP/SESI/SENAI poderão utilizar os dados coletados, 
            para as finalidades descritas. Os dados não serão comercializados com terceiros, bem como não 
            serão cedidos a qualquer outra empresa ou entidade, sem prévio consentimento do titular.
        </p>
        <p class="texto">Mediante o seu consentimento, o SENAI-SP, sempre baseado em um dos fundamentos legais 
            previstos na LGPD, poderá compartilhar algumas das suas informações, com entidades parceiras para 
            realizar as finalidades descritas acima.
        </p>
        <p class="texto">Certas informações também poderão ser compartilhadas para fins de cumprimento de 
            obrigações legais, interesse legítimo ou outra base legal existente, principalmente as que está 
            inserido o SENAI-SP (TCU/CGU/SIT/MPT; MEC/ Secretarias de Educação).
        </p>
        <p class="texto">Vale destacar que todos são obrigados a manter o padrão de legalidade e segurança em 
            relação aos dados pessoais compartilhados por nós. Para sermos transparentes com você, e garantirmos 
            os seus direitos de titular, saiba como poderemos compartilhar seus dados:
        </p>
        <ul class="texto">
            <li>Para operações internas, como o gerenciamento da sua conta, atendimento ao cliente, comunicação 
                entre o SENAI-SP e você, entendimento das necessidades dos usuários, melhoria do conteúdo e 
                dos serviços do site, identificação de possíveis fraudes e tomada de medidas para fazer valer a 
                nossa Declaração de Privacidade;</li>
            <li>Com entidades que realizam hospedagem e análise de dados e fornecedores que ajudam o SENAI-SP a 
                prestar os serviços a você;</li>
            <li>Para serviços de comunicação, como o disparo de e-mails, SMS, WhatsApp, de pesquisas de mercado, 
                serviços de suporte, promoções, desenvolvimento de sites, análise de dados e SAC;</li>
            <li>Para serviços de comunicação, como o disparo de e-mails, SMS, WhatsApp, de pesquisas de mercado, 
                serviços de suporte, promoções, desenvolvimento de sites, análise de dados e SAC;</li>
        </ul>
        <p class="texto">O SENAI-SP só compartilhará os dados necessários e o acesso às informações com 
            profissionais devidamente autorizados, respeitando os princípios previstos em lei e com a 
            garantia de confidencialidade e preservação da privacidade, e exclusivamente para o desempenho 
            de suas funções.
        </p>
        <p class="texto">Você é responsável pela veracidade dos dados fornecidos.</p>
        <p class="texto">O SENAI-SP não tem qualquer responsabilidade por eventuais danos decorrentes da 
            falsidade e/ou inexatidão das informações;
        </p>
        <p class="texto">Se o SENAI-SP constatar que qualquer informação fornecida por você é falsa, incorreta, 
            desatualizada ou incompleta, terá o direito de suspender ou cancelar seu cadastro imediatamente, 
            independente de notificação, e de recusar toda e qualquer utilização, presente ou futura, dos serviços 
            que requerem cadastro específico;
        </p>
        <p class="texto">Você deverá manter seu login e senha seguros. Em caso de suspeita de utilização indevida 
            de seus dados de acesso por terceiros, comunique o SENAI-SP e altere imediatamente a senha de acesso 
            ao site.
        </p> <br>

        <h3>8. O SENAI-SP transfere os meus dados para outros países?</h3> <br>
        <p class="texto">A prestação dos produtos e serviços ofertados no portal e demais websites vinculados 
            ao SENAI-SP, poderá requerer a transferência de dados para outros países.
        </p>
        <p class="texto">Nesses casos, utilizaremos as bases legais existentes na LGPD, como por meio de 
            cláusulas contratuais específicas, que garantem padrões de proteção de dados e medidas de segurança 
            adequados com as normas de proteção de dados e com as definições indicadas nesta Declaração de 
            Privacidade.
        </p> <br>

        <h3>9. O SENAI-SP armazena dados de menores?</h3> <br>
        <p class="texto">O SENAI-SP mantém dados de menores, apenas com o consentimento dos pais ou responsáveis.</p>
        <p class="texto">O SENAI-SP não solicita ou coleta, intencionalmente, dados pessoais de crianças e 
            adolescentes sem o consentimento dos pais ou responsáveis.
        </p>
        <p class="texto">Caso sejam detectados dados de crianças e adolescentes, sem o fornecimento de 
            consentimento em nossa base de dados, eles serão excluídos o mais rápido possível ou sempre que 
            nos for solicitado.
        </p>
        <p class="texto">Para solicitar a exclusão de dados de crianças e adolescentes utilize o  
            e-mail <span class="email">suporteEmpregaSENAI@gmail.com</span>.
        </p> <br>

        <h3>10. Como meus dados são armazenados?</h3> <br>
        <p class="texto">Todos os dados que você fornecer no portal do SENAI-SP serão protegidos e armazenados 
            através de protocolos e softwares de segurança.
        </p>
        <p class="texto">Os dados coletados serão armazenados em servidor próprio ou eventualmente em servidores 
            de terceiros, podendo esses serem alocados no Brasil ou no exterior, inclusive por tecnologia de 
            “cloud computing”, sempre obedecendo aos padrões de segurança e controle, conforme legislação 
            aplicável.
        </p>
        <p class="texto">Nenhum procedimento realizado pela internet está isento de eventos que violem a 
            segurança da informação ou de invasões indesejadas, no entanto, compromete-se a adotar todas as 
            medidas técnicas e administrativas adequadas para proteger seus dados pessoais.
        </p>
        <p class="texto">Cumprindo as disposições da LGPD, caso aconteça algum incidente de segurança com 
            seus dados pessoais, que envolva risco ou dano relevante a você, entraremos em contato para 
            avisá-lo e notificaremos a Autoridade Nacional de Proteção de Dados, sempre que necessário e 
            previsto em lei.
        </p> <br>
        
        <h3>11. Por quanto tempo meus dados ficam armazenados?</h3> <br>
        <p class="texto">O SENAI-SP armazena suas informações durante todo o período necessário até que a 
            finalidade de cada tratamento termine, sempre respeitando o previsto na legislação.
        </p>
        <p class="texto">Também armazenamos dados por obrigações legais ou regulatórias, assim como diante da 
            existência de prazos prescricionais fixados nas diversas legislações civis, criminais, trabalhistas, 
            tributárias e nas normas regulatórias que justifiquem o armazenamento das suas informações, bem como 
            para o exercício de nossos direitos, em especial às ligadas a Educação e órgãos correlatos e 
            regulatórias em que o SENAI-SP está inserido (TCU/CGU/SIT/MPT; MEC/ Secretarias de Educação).
        </p>
        <p class="texto">Assim, com o término de tratamento de dados pessoais, ressalvadas as hipóteses 
            estabelecidas pelas legislações aplicáveis ou pela presente Declaração de Privacidade, os 
            dados pessoais serão eliminados da base de dados.
        </p> <br>

        <h3>12. Quais são meus direitos como titular dos dados?</h3> <br>
        <p class="texto">Você é o titular dos seus dados e pode, a qualquer momento, exercer seus direitos 
            sobre suas informações, conforme determina a LGPD.
        </p>
        <p class="texto">Através do e-mail <span class="email">suporteEmpregaSENAI@gmail.com.</span> você poderá solicitar:</p>
        <ul class="texto">
            <li>A confirmação da existência e o conteúdo dos seus dados armazenados em nossa base;</li>
            <li>A permissão de acesso e a correção de dados incorretos, inexatos ou desatualizados;</li>
            <li>A anonimização, bloqueio ou eliminação de seus dados pessoais existentes em nossa base de dados;</li>
            <li>A portabilidade dos dados a outro fornecedor de serviço ou produto, de acordo com a regulamentação 
                da ANPD;
            </li>
            <li>Eliminação dos dados pessoais tratados com o consentimento, exceto nas hipóteses de autorização 
                para manutenção do armazenamento;
            </li>
            <li>Informações sobre as entidades públicas e privadas com as quais o SENAI-SP, na qualidade de 
                Controladora, compartilhou seus dados;
            </li>
            <li>Informação sobre a possibilidade de não fornecer consentimento e as consequências da negativa;</li>
            <li>Se opor ao tratamento dos seus dados pessoais, quando verificar que descumprimos alguma das 
                previsões da LGPD;
            </li>
            <li>O cancelamento, a qualquer momento, do consentimento que nos deu para o tratamento dos 
                seus dados;
            </li>
            <li>A revisão de decisões tomadas unicamente com base no tratamento automatizado de dados pessoais 
                que afetem seus interesses, inclusive decisões destinadas a definir seu perfil pessoal, 
                profissional, de consumo e de crédito ou os aspectos da sua personalidade.
            </li>
            <li>A revogação do consentimento não afetará o tratamento de dados pessoais realizados 
                anteriormente ou diante de outra base legal existente.
            </li>
        </ul>
         <p class="texto">O SENAI-SP poderá armazenar o histórico de registro de dados do usuário para 
             exercer seus direitos.
        </p>
        <p class="texto">O SENAI-SP poderá manter dados, mesmo depois do seu pedido de exclusão, quando 
            a lei assim permitir ou obrigar.
        </p> <br>

        <h3>13. Condições de uso</h3> <br>
        <p class="texto">Ao finalizar o cadastro em aplicações que exigem identificação do usuário, o 
            mesmo aceita e consente expressamente com o tratamento dos dados fornecidos, necessários para 
            criação de seu perfil de usuário, tais como: nome completo, nome social (opcional), telefones, 
            e-mail, data de nascimento, sexo, estado civil, números de CPF, número do passaporte – no caso 
            de estrangeiros - endereço completo, dados do empregador (opcional), unidade favorita e 
            senha pessoal;
        </p>
        <p class="texto">O usuário no seu primeiro acesso deve cadastrar uma senha, contendo no mínimo 8 dígitos, 
            letras maiúsculas, minúsculas, números e ao menos um caractere especial;
        </p>
        <p class="texto">O usuário concorda em zelar pela confidencialidade de sua credencial de usuário e da 
            sua senha. Não deverá emprestar ou divulgar seu login e senha de acesso, se responsabilizando 
            por quaisquer ações realizadas por terceiros em seu nome;
        </p>
        <p class="texto">Será de total responsabilidade do usuário a garantia da veracidade, exatidão e 
            atualização dos dados pessoais fornecidos na aplicação, não assumindo o SENAI-SP qualquer 
            responsabilidade no caso da inexatidão, desatualização, omissão de informação relevante ou 
            falsidade dos dados;
        </p>
        <p class="texto">O usuário deve manter seus dados de cadastro atualizados junto ao SENAI-SP, 
            e autoriza o envio de toda e qualquer correspondência, divulgação, aviso e notificação via 
            Correio, e-mail e/ou mensagem para o celular (SMS e/ou WhatsApp);
        </p>
        <p class="texto">O usuário concorda em ter seus dados de navegação, acesso as aplicações e 
            e-mails gravados para efeitos de monitoramento, auditoria, ou eventuais solicitações judiciais;
        </p>
        <p class="texto">O usuário concorda em não utilizar o serviço prestado para apologia e tráfego de 
            arquivo, ou de conteúdo de cunho ofensivo (bullying), pornográfico, pedofilia, pirata, criminal,
            racista, terrorista, político ou religioso;
        </p>
        <p class="texto">O usuário concorda em não realizar nenhum tipo de ataque cibernético, como tentativas de invasão, 
            ataques de negação de serviço, interceptação de comunicação e disseminação intencional de qualquer 
            tipo de código malicioso, como vírus, cavalos de troia, worms, entre outros;
        </p>
        <p class="texto">O usuário concorda em não utilizar o serviço prestado para disseminação de spam, 
            e-mail bomba, ou realizar phishing atacks (spam ou mensagem em massa para induzir usuários a 
            acessarem páginas clonadas e/ou com conteúdo ilícito);
        </p>
        <p class="texto">O usuário deve acessar os serviços tecnológicos do SENAI-SP apenas com equipamentos 
            que contenham um sistema de antivírus atualizado e todas as atualizações de segurança instaladas;
        </p>
        <p class="texto">O usuário concorda que ao encerrar o vínculo com o SENAI-SP, ele perderá 
            (total ou parcial) o direito ao acesso de um ou mais serviços oferecidos pela aplicação, 
            havendo a necessidade de fazer novamente o cadastro se desejar voltar a ter acesso aos serviços.
        </p> <br>

        <h3>14. Dos serviços prestados e sanções</h3> <br>
        <p class="texto">Os serviços de login para acesso e as reservas de ingressos estão disponíveis 
            exclusivamente para os clientes e usuários do SENAI-SP. Assim, não poderá ser utilizado por 
            pessoas que não possuam o cadastro e não aceite o Termo de Uso da aplicação.
        </p>
        <p class="texto">Será considerada condição para cancelamento do uso dos serviços, aplicações e 
            atividades do SENAI-SP, o quanto segue:
        </p>
        <ol class="texto">
            <li>no caso dos eventos gratuitos, o usuário que porventura fizer a reserva de ingressos e não 
                compareça por mais de três vezes consecutivas;</li>
            <li>comercializar ingressos gratuitos, ou vagas, sendo expressamente vedada tal atitude;</li>
            <li>na inadimplência dos valores pagos em mensalidades de serviço(s).</li>
        </ol>
        <p class="texto">No caso da violação de quaisquer dos itens elencados, acima, serão aplicadas sanções, 
            a critério do SENAI-SP, conforme segue:
        </p>
        <ol class="texto">
            <li>notificação, ou simples advertência;</li>
            <li>bloqueio (total ou parcial) de parte dos recursos disponibilizados.</li>
        </ol>
        <p class="texto">Poderão, ainda, ser propostas pelo SENAI-SP medidas judiciais aplicáveis, 
            conforme o caso e tipo de violação.
        </p> <br>

        <h3>15. Aceitação do termo</h3> <br>
        <p class="texto">Para navegar no site, usufruir dos serviços on line e acessar quaisquer aplicações 
            providas pelo SENAI-SP, o usuário deverá concordar integralmente e não infringir as condições 
            de uso estabelecidas neste documento.
        </p>
        <p class="texto">Caso não concorde em parte, ou integralmente, com o presente Termo de Uso e Privacidade, 
            não poderá utilizar os respectivos serviços on line e aplicações.
        </p>
        <p class="texto">Para serviços que exigem identificação do usuário, o mesmo deverá acessá-los mediante 
            a utilização de login e senha, após ter efetuado o cadastro, condicionado ao fornecimento de seus 
            dados pessoais, especificados no item 3.1. Essas informações permitirão a utilização dos serviços 
            on line, com a identificação do usuário e a correspondência com outros registros já existentes, se 
            ele tiver contratado serviços ou adquirido produtos do SENAI-SP, como, por exemplo, se ele for aluno 
            de cursos regulares.
        </p>
        <p class="texto">Os dados fornecidos voluntariamente pelos usuários serão protegidos por meio de 
            medidas de segurança, administrativas e técnicas para assegurar sua privacidade, bem como a 
            confidencialidade e autenticidade dos dados pessoais.
        </p>
        <p class="texto">Ao navegar no site ou acessar os serviços on line do SENAI-SP, o usuário concorda 
            também com a utilização de cookies de navegação, para identificação do IP do equipamento do 
            usuário (número de identificação dos aparelhos que se conectam à internet) e controle interno 
            de navegação. Os identificadores anônimos ou cookies são utilizados para controles e estatísticas, 
            permitindo análises dos padrões de navegação e subsidiando melhorias.
        </p>
        <p class="texto">O usuário poderá configurar seu browser de navegação na internet para rejeitar a coleta 
            automática dessas informações, ou pode navegar em modo anônimo. Alguns cookies podem ser necessários
            para o funcionamento do site ou de algum serviço, de modo que o SENAI-SP não pode garantir o 
            funcionamento integral da aplicação ou site se forem desabilitados.
        </p>
        <p class="texto">A Instituição não se responsabiliza pelo conteúdo, política de privacidade e demais 
            termos correlatos dos websites acessados pelos links de terceiros disponibilizados no Portal, 
            nem por comentários e opiniões de usuários publicados no Portal. Assim, é recomendado aos 
            usuários que, ao serem redirecionados para sites externos, consultem sempre as respectivas 
            políticas e termos de privacidade antes de fornecer seus dados ou informações.
        </p>
        <p class="texto">O SENAI-SP realiza todas as atividades de tratamento de dados em condições de segurança, 
            adotando as tecnologias e ferramentas correntes no mercado. Porém, considerando que nenhum sistema 
            de segurança é totalmente infalível, se exime de responsabilidades por eventuais danos e/ou prejuízos 
            decorrentes de falhas, vírus, invasões aos bancos de dados e demais incidentes, salvo nos casos 
            em tiver dolo ou culpa.
        </p>
        <p class="texto">Havendo qualquer modificação neste termo, será solicitado ao usuário para revalidar 
            o aceite na própria aplicação.
        </p>
        <p class="texto">Em qualquer tipo de divulgação das entidades FIESP/CIESP/SESI/SENAI 
            (convite, campanha ou newsletter, por exemplo), encaminhadas pelos canais digitais, 
            haverá à sua disposição a opção de exclusão do seu contato no respectivo mailing list. 
            Após a solicitação de exclusão, seus dados de contato serão inativados da base de dados 
            no prazo de até 48h (quarenta e oito horas) úteis.
        </p>
        <p class="texto">O Titular poderá revogar seu consentimento, a qualquer tempo, por e-mail ou por carta 
            escrita na Unidade do SENAI-SP, conforme o artigo 8º, §5º, da Lei nº 13.709/2020, podendo, também, 
            utilizar os seguintes canais:
        </p>

        <p class="texto"> <strong>Central de Relacionamento:</strong> <br>
            E-mai: <span class="email">suporteEmpregaSENAI@gmail.com </span> <br>
            Atendimento (exceto feriados): de segunda a sexta-feira das 08h00 às 18h20 e aos sábados das 09h00 às 15h20 <br>
            Endereço: Rua Capitão Salomão, 1813 - Campos Elíseos - Ribeirão Preto/SP - CEP 14085-430 <br>
            Telefone: (16) 3238-7100 ou 0800-055-1000 (Interior de SP, somente telefone fixo) <br>
            Site: <a class="site" href="index.html">http://www.EmpregaSENAI.br</a>
        </p> <br>

        <h3>16. Encarregado de proteção de dados pessoais</h3> <br>
        <p class="texto">O encarregado de dados do SENAI-SP é a pessoa responsável por assegurar o cumprimento da 
            Lei Geral de Proteção de Dados na nossa instituição.
        </p>
        <p class="texto">Se você entender que seus dados não estão sendo tratados de acordo com a lei ou tiver alguma 
            dúvida sobre como seus dados estão sendo tratados, mande um e-mail para o Encarregado de Proteção de 
            Dados Pessoais: suporteEmpregaSENAI@gmail.com
        </p>
        <p class="texto">As partes poderão entrar em acordo, quanto aos eventuais danos causados, caso exista o vazamento de 
            dados pessoais ou acessos não autorizados, e caso não haja acordo, a Controladora tem ciência que estará sujeita à
            s penalidades previstas no artigo 52 da Lei n° 13.709/2018.
        </p>
    </div>


<!--footer-->
    <div class="footer1 container border-5 border-top">
        <div class="fw-bolder fst-italic" style="font-size: 2.5rem;">
          <a href="index.html">
            <img class="senai-logo" src="img/logo-senai.png" alt="SENAI">
          </a>
        </div>
        <div></div>
        <div class="conjunto-suporte fw-bolder" style="font-size: x-large;">
          <div class="projeto-suporte">PROJETO | SUPORTE</div>
          <div class="sobre"><a href="#">Sobre</a></div>
          <div class="contato"><a href="#">Contato</a></div>
        </div>
      </div>
      <div class="footer2 container text-center">
        <div></div>
        <div class=" endereco fw-bolder text-center" style="font-size: large;">
          <h class="h">Escola Senai "Engº Octavio Marcondes Ferraz"</h>
          <p>Rua Capitão Salomão, 1813 - Campos Elíseos - Ribeirão Preto/SP - CEP 14085-430 
            <br> Telefone: (16) 3238-7100
           |E-mail:secretaria602@sp.senai.br 
          </p>
        </div>
      </div>

    <!--JS Booststrap-->
    <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}