@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
}

section {
    align-items: center;
    display: flex;
    justify-content: center;
}

h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    color: red;
}

button {
    align-items: center;
    display: flex;
    justify-content: center;
}

.responsive {
    width: 60%;
    position: relative;
    top: 1rem;
    left: 5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.parmera {
    width: 35%;
    height: 200%;
    border-radius: 5px;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px 6px #000000;
    box-shadow: 2px 2px 10px 6px #6e6d6d;
    top: 2rem;
}

.title {
    position: relative;
    top: 2rem;
}

.form {
    width: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    float: right;
    position: relative;
}

a:link {
    text-decoration: none;
}

li {
    color: red;
}


.login-button {
    display: flex;
    align-items: center;
    position: relative;
    top: 1rem;
    border-bottom: 4px solid red;
}

    .login-button emp {
        position: relative;
        left: 20px;
    }

    .login-button button {
        border: none;
        padding: 0.4rem 1rem;
        border-radius: 5px;
        cursor: pointer;
    }

#btn {
    position: relative;
    bottom: 2rem;
    width: 15rem;
    left: 7rem;
}

.login-button hover {
    background-color: #ff0000d7;
}

.login-button a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    bottom: 3rem;
    position: relative;
}

    .form-header h1::after {
        content: '';
        display: block;
        width: 5rem;
        height: 0.3rem;
        background-color: #ff0000;
        margin: 0 auto;
        position: absolute;
        border-radius: 10px;
    }

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    text-align: center;
    align-items: center;
    position: relative;
    top: 0rem;
    left: 2rem;
}

.input-groupp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    text-align: center;
    align-items: center;
    position: relative;
    top: -1rem;
    left: 2rem;
}

.input-grouppp {
    position: relative;
    left: 0.7rem;
    top: 0.2rem
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

    .input-box input {
        margin: 0.6rem 0;
        padding: 0.3%;
        border: none;
        border-radius: 1px;
        box-shadow: 1px 1px 6px #f5f4f4;
        font-size: 0.8rem;
        border-bottom: 2px solid red;
    }

        .input-box input:hover {
            background-color: #ffffff;
        }

        .input-box input:focus-visible {
            outline: 1px solid #ff0505;
        }

    .input-box label,
    .gender-title h6 {
        font-size: 0.75rem;
        font-weight: 600;
        color: #000000c0;
    }

    .input-box input::placeholder {
        color: #000000be;
    }

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

    .gender-input input {
        margin-right: 0.35rem;
    }

    .gender-input label {
        font-size: 0.81rem;
        font-weight: 600;
    }

.continue-button button {
    width: 100px;
    margin-top: 2.5rem;
    border: none;
    background-color: white;
    border-bottom: 5px solid red;
    padding: 0.62rem;
    border-radius: 2px;
    cursor: pointer;
    left: 6rem;
    position: relative;
}


    .continue-button button a {
        text-decoration: none;
        font-size: 0.93rem;
        font-weight: 500;
        color: black;
    }

.termos {
    color: #FB0000;
}

/*@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }

    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }

    #btn {
        position: relative;
        bottom: 3rem;
        width: 15rem;
        left: 5.5rem;
    }
}*/

@media screen and (max-width: 1400px) {
    .parmera {
        height: 60vh;
    }

    .responsive {
        flex-direction: column;
        z-index: 5;
        height: 80vh;
        padding-right: 5rem;
        max-height: 20rem;
        overflow-x: scroll;
        flex-wrap: nowrap;
    }

    .input-grouppp {
        position: relative;
        right: 25rem;
    }
}

@media screen and (max-width: 1169px) {
    .parmera {
        width: 50%;
        height: 60vh;
    }

    .input-grouppp {
        position: relative;
        right: 20rem;
    }
}

@media screen and (width: 745px) {
    .responsive {
        flex-direction: column;
        z-index: 5;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 50vh;
        padding-right: 0rem;
        max-height: 20rem;
        overflow-x: scroll;
        flex-wrap: nowrap;
        top: 2rem;
        left: 3rem;
        position: relative;
    }
}

@media screen and (max-width: 686px) {
    .responsive {
        flex-direction: column;
        z-index: 5;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 50vh;
        padding-right: 0rem;
        max-height: 20rem;
        overflow-x: scroll;
        flex-wrap: nowrap;
        top: 5rem;
        left: 3rem;
        position: relative;
    }

    .parmera {
        width: 70%;
    }
}
